<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p>Szia <%= firstName %>!</p>
<p>Az alábbi visszajelzést sértő tartalom miatt eljutattuk a HR-hez:</p>
<p><strong>Küldő: </strong><%= senderFullName%></p>

<p><strong>Címzett: </strong><%= firstName %> <%= lastName%>  </p>

<p><strong>Küldés ideje: </strong><%= createdAt%></p>

<p><strong>Visszajelzés szövege: </strong><%= message%> </p>

<br> 

<p>A visszejelzés megjelöléséről csak téged és a HR-t értesítettük.</p>
<br>
<p>Üdv,</p>
<p>Plenuum bot</p>
</body>
</html>