<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head></head>
<body>
<p>Szia <%= respondentFirstName %></p>
<p>Az általad kitöltött <span style="font-weight: bold"><%= surveyTitle %></span> kérdőívet megkaptuk, az alábbi tartalommal:</p>
<div style="margin:0 auto;width:100%">
    <% for(let i=0; i < questionsArr.length; i++) {%>
        <p><span style="font-weight:bold"><%= questionsArr[i] %></span></p>
        <p><%= answersArr[i] %></p>
    <% } %>
</div>
<p>A kérdőívet a fenti válaszokkal továbbítottuk <span style="font-weight:bold"><%= managerLastName %> <%= managerFirstName %></span> felé is.</p>
<p>Köszönjük a válaszaidat, a TÉR kitöltéssel kapcsolatos további tennivalód nincs.</p>
<p>Amennyiben bármilyen kérdésed vagy észrevételed volna a Plenuum-mal kapcsolatban, kérlek küldd el emailben az <a style="color: #1155CC" href="mailto:mkb@plenuum.com">mkb@plenuum.com</a>-ra. Ha valaki, akkor mi igazán fontosnak tartjuk a visszajelzéseket :)</p>
<p>Üdvözlettel, <br> A Plenuum Csapata</p>
</body>
</html>